.main_chat
  .main_chat__group__info
    .main_chat__group
      .main_chat__group__name
        = @group.name
      .main_chat__group__memberlist
        Member:
        - @group.users.each do |user|
          = user.name

    .main_chat__group__edit__botton
      = link_to edit_group_path(@group), class:"main_chat__group__edit" do
        Edit
  .main_chat__message__list
    = render @messages
   
  .main_chat__message__form
    = form_with model: [@group, @message], html: {class: "main_chat__message__form__1"}, local: true do |f|
      .main_chat__message__form__parent
        .main_chat__message__form__child
          = f.text_field :content, class: 'main_chat__message__form__child__1', placeholder: 'type a message'
          = f.label :image, class: 'main_chat__message__form__child__image__1' do
            = icon('far', 'image', class: 'image')
            = f.file_field :image, class: 'image__child'
        = f.submit 'Send', class: 'message__btn'