.side_bar
  .side_bar__user__name
    .side_bar__list
      .side_bar__list__name
        = current_user.name
      .side_bar__icon 
        = link_to new_group_path, class:"edit" do
          = icon('fas','edit')
        = link_to "#", class:"edit" do
          = link_to edit_user_path(current_user) do
            = icon('fas','cog')
            
  .side_bar__group__list
    - current_user.groups.each do |group|
      .group 
        -# = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message
    