.Header
  .Header__title
    %h1 Run!
    %h5 
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    = link_to "トップページに戻る", root_path, method: :get

.contents.row
  .container
    %h3 編集する
    = form_with(model: @tweet, local: true) do |form|
      = form.text_field :name, placeholder: "名前"
      = form.text_field :image, placeholder: "画像URL"
      = form.text_area :text, placeholder: "場所　距離　時間　感想　etc..", rows: "20"
      = form.submit "送信"

.Footer
  .Copyright
    Copyright © 2020 Run!, All Rights Reserved.
