.contents.row
  .container
    %h3 編集する
    = form_with(model: @tweet, local: true) do |form|
      = form.text_field :name, placeholder: "Nickname"
      = form.text_field :image, placeholder: "Image Url"
      = form.text_area :text, placeholder: "place distance time", rows: "20"
      = form.submit "SEND"