.contents.row
  - @tweets.each do |tweet|
    .content.post{style: "background-image: url(#{tweet.image});"}
      .more
        %span= image_tag ''
        %ul.more_list
          %li
            = link_to '詳細', tweet_path(tweet.id), method: :get
          %li
            = link_to '編集', edit_tweet_path(tweet.id), method: :get
          %li
            = link_to '削除', tweet_path(tweet.id), method: :delete
          %li
            = link_to 'チャットに戻る', root_path(tweet.id), method: :get
      %p= tweet.text
      %span.name
        = tweet.name