.Header
  .Header__title
    %h1 Run!
    %h5 
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    = link_to "トップページに戻る", root_path, method: :get

.contents.row
  .content.post{style: "background-image: url(#{@tweet.image});"}
    .more
      %span= image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to '編集', edit_tweet_path(@tweet.id), method: :get
        %li
          = link_to '削除', tweet_path(@tweet.id), method: :delete
    %p= @tweet.text
    %span.name
      = @tweet.name


.Footer
  .Copyright
    Copyright © 2020 Run!, All Rights Reserved.
